<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://deepspacedatabase.damianfriston.co.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://deepspacedatabase.damianfriston.co.uk:8172/MsDeploy.axd?site=damianfriston-001-subsite2</MSDeployServiceURL>
    <DeployIisAppPath>damianfriston-001-subsite2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\damianfriston-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DeepSpaceDatabaseZ-fefdc1f0-bd81-4ce9-b712-93a062e01031.mdf;Initial Catalog=aspnet-DeepSpaceDatabaseZ-fefdc1f0-bd81-4ce9-b712-93a062e01031;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-DeepSpaceDatabaseZ-fefdc1f0-bd81-4ce9-b712-93a062e01031;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-DeepSpaceDatabaseZ-fefdc1f0-bd81-4ce9-b712-93a062e01031.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DeepSpaceDatabaseZ.Models.SpaceObjectDBContext" Order="3" Enabled="False">
          <Destination Path="Data Source=sql6001.site4now.net;Initial Catalog=DB_A39622_DeepSpaceDatabase;Persist Security Info=True;User ID=DB_A39622_DeepSpaceDatabase_admin;Password=sconeyshi5;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DeepSpaceDatabaseZ.Models.SpaceObjectDBContext, DeepSpaceDatabaseZ" MigrationConfiguration="DeepSpaceDatabaseZ.Migrations.Configuration, DeepSpaceDatabaseZ" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DeepSpaceDatabaseZ.Models.SpaceObjectDBContext-Web.config Connection String">
      <ParameterValue>Data Source=sql6001.site4now.net;Initial Catalog=DB_A39622_DeepSpaceDatabase;Persist Security Info=True;User ID=DB_A39622_DeepSpaceDatabase_admin;Password=sconeyshi5;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DeepSpaceDatabaseZ.Models.SpaceObjectDBContext" />
  </ItemGroup>
</Project>